@using ContractsTracking.Utility.Models;
@model IEnumerable<Contract>
@{
    ViewData["Title"] = "Index";

}

<div>
    username:<input type="text" id="username" />
    <br />
    password:<input type="password" id="password" />
    <br />
    <input type="submit" value="Submit" onclick="navigate()"/>
</div>

<script type="text/javascript">
    function navigate() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var url = '@Html.Raw(Url.Action("Dashboard","Home", new { username = "_username", password = "_password" }))';
        url = url.replace("_username", username).replace("_password", password);
        window.location.href = url;
    }
</script>