@using ContractsTracking.Utility.Models;
@model IEnumerable<Contract>
@{
    ViewData["Title"] = "Index";

}

<div>
    <form>
        username:<input type="text" id="username" />
        <br />
        password:<input type="text" id="password" />
        <br />
        <input type="submit" value="Submit" href="@Url.Action("Dashboard","Home")" onclick="navigate(this.href)"/>
    </form>
</div>

<script type="text/javascript">
    function navigate(target) {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        $.ajax({
            url: '@Url.Action("Dashboard","Home")',
            data: { username: username, password: password }
        }).done(function () {
            alert('added');
        });
    }
</script>