@using ContractsTracking.Utility.Models;
@model IEnumerable<ProblemLabel>
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<div>
    <div class="modal-dialog"></div>
    <input type="button" id="AddBtn" value="Add" />
    <div id="modalOption"></div>
    <table class="table table-sm table-striped table-hover border-bottom">
        <thead>
            <tr>
                <th class="d-none d-lg-table-cell">
                    Problem Name
                </th>
                <th>
                    Default Group for Assignment
                </th>
                <th></th> <!--This is so that the bottom border for the headers goes across the Edit/Delete buttons-->
            </tr>
        </thead>
        <tbody>
            @foreach (ProblemLabel problem in Model)
            {
                <tr>
                    <td class="d-none d-lg-table-cell">
                        @problem.problemName
                    </td>
                    <td>
                        @problem.defaultGroup
                    </td>
                    <td>
                        <button type="button" onclick="location.href = '@Url.Action("UpdateProblemLabel","Home", new { problemID = @problem.problemName })'">Edit</button>
                        |
                        <input type="button" value="Delete" id="DelBtn" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>