@using ContractsTracking.Utility.Models
@model ProblemLabel
@{
    var problemName = Model.problemName;
    var defaultGroup = Model.defaultGroup;
}

@using (Html.BeginForm())
{
<div class="panel">
    <div class="panel-heading">
        <p>Please enter the correct data:</p>
    </div>
    <div class="panel-body">
        Problem Name: @Model.problemName
        <input type="hidden" name="problemName" value="@problemName" />
        <br />
        Default Group for Assignment: <input type="text" name="defaultGroup" value="@defaultGroup" />
        <br />
        <input type="submit" value="Update" onclick="'@Url.Action("UpdateProblem","Home", new { problemName = problemName, defaultGroup = defaultGroup })'" />
    </div>
</div>
}